body{
	background: url("subZero.jpg") no-repeat center fixed;
	background-size: cover;
	font-family: sans-serif;
}
.btn{
	text-decoration: none;
	background: navy;
	color: white;
	font-size: 1.3em;
	padding: 5px;
	border-radius: 15px; 
	margin: auto;
}
button{
	box-sizing: border-box;
	box-shadow: 5px 5px 20px 10px black;
	margin-top: 15px;
	margin: 20px;
}
a{
	color: white;
	text-decoration: none;
	margin: auto;
}
button a:hover{
	background: black;
}